.box{
    height:100px;
    width:300px;
    background-color:pink;
    animation-name: WidthAnimation;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: 3;
}

@keyframes fontAnimation {
    form{
        font-size:20px;
    }
    to{
        font-size: 40px;
    }
}
@keyframes WidthAnimation {
    form{
        width: 10px;
    }
    to{
       width:  40px;
    }
}
.box2{
    width:400px;
    height:400px;
    margin:10px auto;
    background-color: aqua;
    transition-duration:3s  ;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    box-shadow: 2px 4px 8px black;

}
.box2:hover{
    background-color: rgb(127, 129, 255);
    border-radius:50%;
    box-shadow: 4px 6px 18px black;
}

@media (min-width:400px)and(max-width:500px){
    box{
        background-color: rgb(255, 127, 144);
    }
}
