#outer{
    height: 200px;
    width :70px;
    border:2px solid black;
}
.inner{
    height:50px;
    width:50px;
    border:2px solid black;
    margin:10px;
    border-radius: 50%;
}
#div1 {
    background-color:red;
}
#div2 {
    background-color:yellow;
}
#div3 {
    background-color: green;
}
#box{
    height:200px;
    width:200px;
    background-color: #921d1d;
    margin:0 auto;
    transition: border-radius 2s ease-in 0.2s ;
}

#box:hover{
    border-radius: 50%;
    background-color: yellowgreen;
}
div{
    width:200px;
    height:50px;;
    text-align: center;
    background-color: #7aa874;
    margin:10px auto;
}
div:nth-of-type(2n) {
    background-color:#f7db6a;
}
div:nth-of-type(3n) {
    background-color:#ebb02d;
}
#one {
    /* It is used to big the scale of element */
    transform: scale(0.5);
}
#two {
    /* It is used to side the element */
    transform: translateX(100px);
}
#three {
    /* It is used to rotate the box at 30degre */
    transform: rotate(30deg);
}
#four{
    /* It is used to skew the box and the  element */
    transform: skew(30deg);
}
#five{
    margin:100px;
    width:200px;
    height :50px;
    text-align:center;
    box-shadow: 2px 2px 8px black;
}